
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;

    margin: 10px 160px;
  }

.sign-btn{
    font-weight: 600;
    font-size: 22px;
    color: green;
    background-color: white;
    padding: 0px 40px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
  }
  .sign-btn:hover{
    background-color: rgb(147, 26, 198);
    color: white;
    border: rgb(191, 95, 95) solid;
    border-radius: 5px;
  }

section nav{
    display: flex;
    justify-content: space-between;
    margin: ;
  }

.second{
    background-color: #C6E4D6;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px 80px 0px;
    padding: 80px 10px 80px 55px;
    border-radius: 10px;


}

h1{
    font-size: 56px;
    display: inline;
}
h5{
    margin: 0px 0px;
    display: inline;
}

.explore{
    margin: 20px 0px;
    padding: 15px 35px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 550;
    cursor: pointer;
    font-size: 18px;
}

.explore:hover{
    background-color: rgb(147, 26, 198);
    color: rgb(229, 255, 0);
    border-radius: 5px;
}

.text-color{
    color: #606A6A;
    font-weight: 370;
    
}

.f-size{
    font-size: 40px;
}

.div4{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.div4 div{
    background-color: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
}

.div4 div p{
    font-weight: 330;
}

.p-new{
    font-weight: 330;
    margin-bottom: 30px;
}

.btn1{
    margin: 13px 0px 10px 0px;
    padding: 10px 25px;
    background-color: #5490F5;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.btn1:hover{
    background-color: rgb(147, 26, 198);
    color: rgb(229, 255, 0);
    /* border: white solid; */
    border-radius: 5px;
}


.btn2{
    margin: 13px 0px 10px 0px;
    padding: 10px 25px;
    background-color: #09A15C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.btn2:hover{
    background-color: rgb(147, 26, 198);
    color: rgb(229, 255, 0);
    border-radius: 5px;
}


.btn3{
    margin: 13px 0px 10px 0px;
    padding: 10px 25px;
    background-color: #f8b418;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.btn3:hover{
    background-color: rgb(147, 26, 198);
    color: rgb(229, 255, 0);
    border-radius: 5px;
}

.div4 .di1v{
    background-color: #ceddf3;
}
.div4 .di2v{
    background-color: #C6E4D6;
}
.div4 .di3v{
    background-color: #F7EBCF;
}

.marg{

    margin-bottom: 40px;
}

.quote{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat ;
    background-position: 20px 20px;
    border: 1px solid #B3B3B3;
    border-radius: 15px;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 80px;

}

.dr{    
    
    color: black;
    font-size: 26px;
    font-weight: 600;
 
    line-height: 1.5;

}

.text-color2{
    color: #606A6A;
    font-weight: 400;
}

.satelite div img{
    border-radius: 24px;
}


.satelite{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
    padding: 48px ;
    border: 1px solid #B3B3B3;
    border-radius: 15px;
    margin-bottom: 24px;


}

.btn5{
    margin: 13px 0px 10px 0px;
    padding: 10px 25px;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.btn5:hover{
    background-color: rgb(147, 26, 198);
    color: rgb(229, 255, 0);
    border-radius: 5px;
}

.f-size2{
    font-size: 32px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px ;
    margin-bottom: 7px;
}
